examples/backup.json
[{"id":"d422600.34734a","type":"dsm","z":"6ff0723.8c6b78c","name":"backup","sm_config":"{\n    \"currentState\": \"step1\",\n    \"states\": {\n        \"step1\": {\n            \"start\": \"step2\",\n            \"reset\": \"step1\"\n        },\n        \"step2\": {\n            \"zip\": \"step3\",\n            \"reset\": \"step1\"\n        },\n        \"step3\": {\n            \"upload\": \"step1\",\n            \"reset\": \"step1\"\n        }\n    },\n    \"data\": {\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.data.udir = RED.settings.userDir + '/';\"\n        ],\n        \"start\": [\n            \"/* delete old zip file */\",\n            \"var fs = require('fs');\",\n            \"var zipfile = sm.data.udir+'node-red.zip';\",\n            \"\",\n            \"fs.unlink(zipfile, function (err) {\",\n            \"   if (err) {\",\n            \"       node.warn('no file '+zipfile);\",\n            \"   }\",\n            \"   resume('zip', msg);\",\n            \"});\",\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'deleting';\",\n            \"output = false;\"\n        ],\n        \"zip\": [\n            \"var hostname = require('os').hostname();\",\n            \"var udir = sm.data.udir;\",\n            \"var f = [];\",\n            \"var i = 0;\",\n            \"f[i++] = udir+'node-red.zip ';\",\n            \"f[i++] = udir+'flows_'+hostname+'.json ';\",\n            \"f[i++] = udir+'flows_'+hostname+'_cred.json ';\",\n            \"f[i++] = udir+'.config.json ';\",\n            \"f[i++] = udir+'.sessions.json ';\",\n            \"f[i++] = udir+'settings.js ';\",\n            \"f[i++] = udir+'package.json ';\",\n            \"f[i++] = udir+'package-lock.json ';\",\n            \"f[i++] = udir+'context/*';\",\n            \"var cmd = 'zip ';\",\n            \"for (var k in f) {\",\n            \"   cmd = cmd + f[k];\",\n            \"}\",\n            \"var exec = require('child_process').exec;\",\n            \"exec(cmd, function(error, stdout, stderr) {\",\n            \"   if (error) {\",\n            \"       node.warn(error);\",\n            \"   } else {\",\n            \"       resume('upload', msg);\",\n            \"   }\",\n            \"});\",\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'zipping';\",\n            \"output = false;\"\n        ],\n        \"upload\": [\n            \"sm.ts = timestamp().slice(0,-4).replace(/:/g,'');\",\n            \"var hostname = require('os').hostname();\",\n            \"msg.filename = hostname+'/' + sm.ts + '_nr.zip';\",\n            \"msg.localFilename = sm.data.udir+'node-red.zip';\",\n            \"sm.fill = 'green';\",\n            \"sm.text = sm.ts;\"\n        ],\n        \"reset\": [\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'reset';\",\n            \"output = false;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.fill\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.text\"\n            }\n        }\n    }\n}","x":260,"y":760,"wires":[["1c27c980.3a7d37"]]},{"id":"aeceefee.bf86f","type":"inject","z":"6ff0723.8c6b78c","name":"backup","topic":"start","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":760,"wires":[["d422600.34734a"]]},{"id":"1c27c980.3a7d37","type":"debug","z":"6ff0723.8c6b78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":700,"wires":[]},{"id":"bc39861d.e5ba68","type":"inject","z":"6ff0723.8c6b78c","name":"reset","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":800,"wires":[["d422600.34734a"]]},{"id":"80399440.cedc68","type":"comment","z":"6ff0723.8c6b78c","name":"dropbox node","info":"","x":450,"y":760,"wires":[]}]
