examples/backup.json
[{"id":"12ab204e.d883e","type":"dsm","z":"895bbff8.0e6c4","name":"backup","sm_config":"{\n    \"currentState\": \"step1\",\n    \"states\": {\n        \"step1\": {\n            \"start\": \"step2\",\n            \"reset\": \"step1\"\n        },\n        \"step2\": {\n            \"zip\": \"step3\",\n            \"reset\": \"step1\"\n        },\n        \"step3\": {\n            \"upload\": \"step1\",\n            \"reset\": \"step1\"\n        }\n    },\n    \n    \"data\": {\n        \"udir\": \".node-red/\"\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.hostname = require('os').hostname();\",\n            \"sm.exec = require('child_process').exec;\"\n        ],\n        \"start\": [\n            \"/* delete old zip file */\",\n            \"var zipfile = sm.data.udir+'node-red.zip';\",\n            \"var fs = require('fs');\",\n            \"fs.unlink(zipfile, function (err) {\",\n            \"   if (err) {\",\n            \"       node.warn('no file '+zipfile);\",\n            \"   }\",\n            \"   resume('zip', msg);\",\n            \"});\",\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'deleting';\",\n            \"output = false;\"\n        ],\n        \"zip\": [\n            \"var udir = sm.data.udir;\",\n            \"var f = [];\",\n            \"var i = 0;\",\n            \"f[i++] = udir+'node-red.zip ';\",\n            \"f[i++] = udir+'flows_'+sm.hostname+'.json ';\",\n            \"f[i++] = udir+'flows_'+sm.hostname+'_cred.json ';\",\n            \"f[i++] = udir+'.config.json ';\",\n            \"f[i++] = udir+'.sessions.json ';\",\n            \"f[i++] = udir+'settings.js ';\",\n            \"f[i++] = udir+'package.json ';\",\n            \"f[i++] = udir+'package-lock.json ';\",\n            \"var cmd = 'zip ';\",\n            \"for (var k in f) {\",\n            \"   cmd = cmd + f[k];\",\n            \"}\",\n            \"sm.exec(cmd, function(error, stdout, stderr) {\",\n            \"   if (error) {\",\n            \"       node.warn(error);\",\n            \"   } else {\",\n            \"       resume('upload', msg);\",\n            \"   }\",\n            \"});\",\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'zipping';\",\n            \"output = false;\"\n        ],\n        \"upload\": [\n            \"sm.ts = timestamp().slice(0,-4).replace(/:/g,'');\",\n            \"msg.filename = sm.hostname+'/' + sm.ts + '_nr.zip';\",\n            \"msg.localFilename = sm.data.udir+'node-red.zip';\",\n            \"sm.fill = 'green';\",\n            \"sm.text = sm.ts;\"\n        ],\n        \"reset\": [\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'reset';\",\n            \"output = false;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.fill\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.text\"\n            }\n        }\n    }\n}\n","x":320,"y":120,"wires":[["df68bef9.9c0bd"]]},{"id":"7187b3ff.e1537c","type":"inject","z":"895bbff8.0e6c4","name":"backup","topic":"start","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["12ab204e.d883e"]]},{"id":"df68bef9.9c0bd","type":"debug","z":"895bbff8.0e6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":60,"wires":[]},{"id":"a3a12d1b.24dee","type":"inject","z":"895bbff8.0e6c4","name":"reset","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["12ab204e.d883e"]]},{"id":"52b0b8e0.13e678","type":"comment","z":"895bbff8.0e6c4","name":"dropbox node","info":"","x":510,"y":120,"wires":[]}]
