examples/wiki-examples.json
[{"id":"84cd8a5f.f107b8","type":"inject","z":"6ff0723.8c6b78c","name":"","topic":"","payload":"click me","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["996726b5.75d8b8"]]},{"id":"472d52fd.3171fc","type":"debug","z":"6ff0723.8c6b78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1000,"wires":[]},{"id":"996726b5.75d8b8","type":"dsm","z":"6ff0723.8c6b78c","name":"examples","sm_config":"{\n    \"methods\": {\n        \"onTransition\": [\n            \"msg.payload = 'Please, go to: ';\",\n            \"msg.payload += 'https://github.com/cflurin/node-red-contrib-dsm/wiki.';\",\n            \"output = true;\"\n        ],\n        \"status\": {\n            \"fill\": \"yellow\",\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"msg.payload;\"\n            }\n        }\n    }\n}\n","x":290,"y":1000,"wires":[["472d52fd.3171fc"]]}]
